html {
    background-color: #309;
}

body { 
    margin: 0;
    color: #fff;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#arrows {
    white-space: nowrap;
    text-align: center;

    margin-top: 15px;

    /*prevent text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow {
    cursor:pointer;

    display: inline-block;
    margin-top: 18px;
    border: 3px solid #9CC;
    width: 77px;
    height: 77px;
    line-height: 77px; /*makes text display vertically in the center (if it's only one line) */
    font-size: 40px;
}

.arrow.pressed {
    background-color: #9CC;
}

#game {
    text-transform: uppercase;
    white-space: nowrap;
    width: 1024px;
    height: 576px;

    /* absolute center */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#panel {
    white-space: normal;
    display: inline-block;
    font-size: 24px; 
    margin-left: 20px;
    vertical-align: top;
    max-width: 408px;
}

#chat { 
    padding:4px; 
    background: darkblue; 
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid #9CC; 
    margin-top:10px; 
    height: 190px;
    width: 380px;
}

.chatname {
    padding-right: 4px;
    padding-left: 4px;
}

input { 
    color: #fff; 
    background-color: #330; 
    border: 3px solid #9CC;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24px; text-transform: uppercase;
}

#fullscreenbutton {
    margin-top: 40px;
    text-align: center;
}