html {
    background-color: #309;
}

body { 
    margin: 0;
    color: #fff;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.arrows {
    white-space: nowrap;
    text-align: center;

    margin-top: 0px;

    /*prevent text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow {
    cursor:pointer;

    display: inline-block;
    margin-top: 18px;
    border: 3px solid #9CC;
    width: 77px;
    height: 77px;
    line-height: 77px; /*makes text display vertically in the center (if it's only one line) */
    font-size: 40px;
}

.hide {
    display: none !important;
}

.arrow.pressed {
    background-color: #9CC;
}

.game {
    text-transform: uppercase;
    white-space: nowrap;
    width: 1024px;
    height: 576px;

    /* absolute center */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and ( max-height: 576px ) {
    /* Don't center if it doesn't fit, we don't want the top cut off */
    .game {
        position: static;
    }

}

.panel {
    white-space: normal;
    display: inline-block;
    font-size: 24px; 
    margin-left: 20px;
    vertical-align: top;
    max-width: 408px;
}

.chat { 
    padding:4px; 
    background: darkblue; 
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid #9CC; 
    margin-top:10px; 
    height: 190px;
    width: 380px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.distant .chatmessage {
    color: grey;
}

.chatname {
    padding-right: 4px;
    padding-left: 4px;
}

.inputline {
    /* on iOS full-screen you cannot interact 
    with the top 40 physical pixels.
    24 are used by status, we need about 20 more. */
    margin-top: 20px;
}

input { 
    color: #fff; 
    background-color: #330; 
    border: 3px solid #9CC;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24px; text-transform: uppercase;
}

.fullscreenbutton.button {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #330;
    width:200px;
}

.button {
    background: #5AA;
    display: inline-block;
    padding: 3px;
    min-width: 64px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.npc-box {
    position: absolute;
    display: block;
    top: 48px;
    left: 48px;
    width: 456px;
    height: 168px;
    border: 12px solid white;
    background-color: black;
}

.npc-message {
    font-size: 48px;
    line-height: 48px;
    margin: 11px;
    white-space: normal;
    word-break: break-all;
}